repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/PyCQA/isort
    rev: 5.10.1
